body { 
	font-family: 'Montserrat', sans-serif;
}

div#app {
  text-align: left;
}

html, body { 
	position: relative; 
	height: 100%; 
}

*:focus { 
	outline: none; 
}

.swiper-container .swiper-wrapper {
  position: relative;
  left: -80%;
  transition: left .3s;
  &.open {
    left: 0%;
  }
}

#app-container {
  min-height: 100%;
  display: -ms-flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-orient: horizontal;
  -moz-flex-orient: horizontal;
  -ms-flex-orient: horizontal;
  flex-orient: horizontal;
}

#app-cards {
  padding: 0 15px;
}

#content {
  height: auto;
}

#timeline, #confirmation, #flip, #checkout, #cards-swipe, #cards-wide, #page { 
  width: 100%; padding-top: 54px; min-height: 100%; 
}