#gallery {
  z-index: 9300;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #000;
  header {
    color: #fff;
    padding: 15px 0;
    background: #000;
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    h3 {
      font-weight: 600;
      font-size: 1.2em;
      line-height: 1em;
      position: relative;
      margin: 0;
      padding: 0 22px 0 0;
    }
    i {
      font-size: 1.5em;
      line-height: 1em;
      z-index: 1001;
      position: relative;
    }
  }
  main {
    .swiper-wrapper, .swiper-container {
      min-height: 100%;
    }
    .swiper-slide {
      justify-content: center;
      align-items: center;
      display: flex;
      img {
        width: auto;
        height: auto;
        min-width: 100%;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .swiper-lazy-preloader {
      top: 50%;
    }
    .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
      background: #4FE782;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234FE782'%2F%3E%3C%2Fsvg%3E");
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234FE782'%2F%3E%3C%2Fsvg%3E");
    }
    .swiper-pagination {
      top: 54px;
    }
  }
}