#notifications {
  visibility: hidden;
  color: #333;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 9000;
  opacity: 0;
  color: #000;
  padding: 0 30px;
  background: #fff;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  h3 {
    font-weight: 700;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #D4D4D4;
    line-height: 1em;
    padding-left: 4px;
    a {
      display: block;
      padding: 8px 0;
    }
  }
  .fa {
    font-size: 1.5em;
    margin-right: 20px;
    width: 26px;
  }
  time {
    margin-left: 20px;
    font-size: 0.8em;
    text-align: right;
  }
  span {
    font-size: 0.9em;
    line-height: 1.2em;
    i {
      font-style: normal;
      font-size: 0.9em;
      display: block;
    }
  }
  .active .fa {
    color: #4FE782;
  }
  .disable .fa {
    color: #FF4646;
  }
  .expired {
    color: #C4C4C4;
    .fa {
      color: #C4C4C4;
    }
  }
}