#order {
  width: 100%;
  height: 100%;
  color: #fff;
  &.product, .product {
    background: rgb(80, 214, 241);
    background: -moz-linear-gradient(-45deg, rgba(80, 214, 241, 1) 0%, rgba(129, 67, 255, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(80, 214, 241, 1) 0%, rgba(129, 67, 255, 1) 100%);
    background: linear-gradient(135deg, rgba(80, 214, 241, 1) 0%, rgba(129, 67, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50d6f1', endColorstr='#8143ff',GradientType=1 );
  }
  &.service, .service {
    background: rgb(191, 156, 245);
    background: -moz-linear-gradient(-45deg, rgba(191, 156, 245, 1) 0%, rgba(255, 70, 70, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(191, 156, 245, 1) 0%, rgba(255, 70, 70, 1) 100%);
    background: linear-gradient(135deg, rgba(191, 156, 245, 1) 0%, rgba(255, 70, 70, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf9cf5', endColorstr='#ff4646',GradientType=1 );
  }
  nav {
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    .box {
      flex: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding-left: 40px;
      padding-right: 40px;
    }
    .fa {
      font-size: 3em;
    }
    h2 {
      font-weight: bold;
      font-size: 1.3em;
      line-height: 1em;
    }
  }
  main {
    padding-top: 54px;
    height: 100%;
    margin-bottom: 90px;
    h4, label {
      font-weight: bold;
      line-height: 1em;
      font-size: 1em;
    }
    h2 {
      font-weight: bold;
      font-size: 1.8em;
      line-height: 1em;
    }
    .form-control {
      border: 0;
      border-bottom: 1px solid #FFF;
      background: none;
      border-radius: 0;
      color: #fff;
      padding-left: 0;
      padding-right: 0;
      &::placeholder {
        color: #fff;
        font-style: italic;
      }
    }
    .fileupload {
      h4 {
        margin-bottom: 0;
        margin-top: 2px;
        display: block;
      }
      .btn-attachment, .btn-camera {
        background: #FFF;
        height: 60px;
        width: 60px;
        border-radius: 100%;
        color: #50D2F1;
        font-size: 1.5em;
      }
      .btn-attachment i, .btn-camera i {
        margin-top: 10px;
      }
    }
    .fileinput-button {
      margin-top: 6px;
    }
    .progress {
      webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    .step3 {
      p {
        text-align: center;
        padding: 0;
        margin: 0;
      }
      span {
        display: inline-block;
        font-size: 3em;
        line-height: 1em;
      }
      .form-control {
        font-size: 4em;
        line-height: 1em;
        display: inline-block;
        width: 170px !important;
        border: 0;
        font-weight: bold;
        margin: 0;
        text-align: right;
        height: 60px;
        &::placeholder {
          color: #672FD9;
          font-style: normal;
        }
      }
    }
    .step1 .type {
      background: #fff;
      color: #FF4646;
      margin-left: -2rem !important;
      margin-right: -2rem !important;
      padding-left: 2rem !important;
      padding-right: 2rem !important;
      .form-control {
        border-color: #000;
        &::placeholder {
          color: #000;
        }
      }
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 7000;
    .container {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding-bottom: 15px;
    }
    .btn {
      flex: 1 0 auto;
      margin-top: 10px;
    }
  }
}