body { font-family: 'Montserrat', sans-serif;}
html,
body { position: relative; height: 100%; }
a { color: #000; }
a:hover { color: #4FE782; text-decoration: none; }
*:focus { outline: none; }

.btn-success { background-color: #4FE782; border-color: #4FE782; }
.btn-success:focus,
.btn-success:hover { background-color: #44C770 !important; border-color: #44C770 !important; }
.btn-outline-success { border-color: #4FE782; }
.btn-outline-success:focus,
.btn-outline-success:hover { border-color: #4FE782 !important; }
.btn-danger { background-color: #FF4646; border-color: #FF4646; color: #FF4646; }
.btn-danger:focus,
.btn-danger:hover { background-color: #FF4646 !important; border-color: #FF4646 !important; }
.btn-outline-danger { border-color: #FF4646; }
.btn-outline-danger:focus,
.btn-outline-danger:hover { border-color: #FF4646 !important; }
.btn-outline-primary { border-color: #54CCF2; color: #54CCF2; }
.btn-outline-primary:focus,
.btn-outline-primary:hover { border-color: #54CCF2 !important; }
.btn-outline-simple { border-color: #FFF; color: #FFF; background: none; }
.btn-outline-simple:focus,
.btn-outline-simple:hover { border-color: #FFF !important; }
.btn-lg { padding: 1rem 1.5rem; font-size: 1rem; font-weight: 700; border-width: 2px; }
.btn-md { padding: 0.8rem 1.1rem; font-size: 1rem; font-weight: 700; border-width: 2px; }
.btn-rounded { border-radius: 2rem; }
.swiper-wrapper { height: auto; }

#app-container { min-height: 100%; display: -ms-flexbox; display: -webkit-box; display: -moz-box; display: -ms-box; display: box; -ms-flex-direction: row; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; box-orient: horizontal; }
#app-cards { padding: 0 15px; }

#content { height: auto; }

#nav { background: #fff; width: 80%; max-width: 320px; z-index: 2; transition: box-shadow 0.3s ease-in-out; height: auto; }
#nav.swiper-slide-active { -webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75); box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.75); }
#nav header { height: 172px; position: relative; background-size: 100% auto; padding-top: 40px; }
#nav .avatar { width: 64px; height: 64px; border-radius: 100%; background-position: center center; background-size: 100% auto; margin: 0 0 32px 0; -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); }
#nav .house-number { color: #fff; text-shadow: 2px 2px 5px rgba(150, 150, 150, 0.95); }
#nav ul,
#nav li { padding: 0; margin: 0; list-style: none; }
#nav ul { padding-top: 10px; }
#nav li { margin-bottom: 6px; }
#nav li a { display: block; padding: 7px 0; }
#nav i { margin-right: 30px; font-size: 1.2em; line-height: 1em; width: 20px; text-align: center; }
#nav .new-order { text-align: center; margin-top: 15px; }

#menu-control { width: 24px; height: 16px; position: relative; }
#menu-control span { position: absolute; top: 50%; left: 0; display: block; width: 100%; height: 0.2em; margin-top: -0.1em; background-color: #000; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-transition: background-color 0.3s; transition: background-color 0.3s; }
#menu-control span:after,
#menu-control span:before { position: absolute; left: 0; width: 100%; height: 100%; background: #000; content: ''; -webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; }
#menu-control span:before { -webkit-transform: translateY(0.5em); transform: translateY(0.5em); }
#menu-control span:after { -webkit-transform: translateY(-0.5em); transform: translateY(-0.5em); }
#menu-control.open-menu-control span:before { -webkit-transform: translateY(-0.28em) translateX(-0.6em) rotate(-45deg) scaleX(0.6); transform: translateY(-0.28em) translateX(-0.5em) rotate(-45deg) scaleX(0.6); }
#menu-control.open-menu-control span:after { -webkit-transform: translateY(0.28em) translateX(-0.6em) rotate(45deg) scaleX(0.6); transform: translateY(0.28em) translateX(-0.5em) rotate(45deg) scaleX(0.6); }

#content-header { position: absolute; top: 0; left: 0; width: 100%; z-index: 5000; padding-top: 15px; }
#content-header h2 { font-weight: 600; font-size: 1.4em; line-height: 1em; position: relative; margin: 0; padding: 0; }
#content-header h3 { font-weight: 600; font-size: 1.2em; line-height: 1em; position: relative; margin: 0; padding: 0 22px 0 0; }
#content-header .notification { position: relative; z-index: 5000; }
#content-header .notification i { font-size: 1.5em; line-height: 1em; z-index: 1001; position: relative; }
#content-header .notification .badge { position: absolute; top: -6px; right: -6px; z-index: 2; z-index: 1001; }
#content-header .notification .notification-circle { background-color: #fff; width: 10px; height: 10px; position: absolute; border-radius: 50%; transform: scale(1); z-index: 1000; transition: all 0.2s ease-in-out; margin: -15px 0 0 5px; }
#content-header .notification .notification-close { width: 120px; height: 120px; position: absolute; top: -120px; right: -120px; border-radius: 100%; transform: scale(1); z-index: 1001; transition: all 0.2s ease-in-out; background: rgb(255,70,70); background: -moz-linear-gradient(top, rgba(255,70,70,1) 0%, rgba(191,156,245,1) 100%); background: -webkit-linear-gradient(top, rgba(255,70,70,1) 0%,rgba(191,156,245,1) 100%); background: linear-gradient(to bottom, rgba(255,70,70,1) 0%,rgba(191,156,245,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4646', endColorstr='#bf9cf5',GradientType=0 ); color: #fff; }
#content-header .notification .notification-close .fa { position: absolute; bottom: 25px; left: 25px; }
#content-header .notification.open .notification-close { top: -76px; right: -76px; }
#content-header .notification.open .notification-circle { transform: scale(120); }

#content-header.white h3,
#content-header.white h2 { color: #fff; }
#content-header.white #menu-control span,
#content-header.white #menu-control span:after,
#content-header.white #menu-control span:before { background: #fff; }

#notifications { visibility: hidden; color: #333; height: 100%; width: 100%; position: absolute; top: 60px; left: 0; transition: opacity 0.2s ease-in-out; z-index: 9000; opacity: 0; color: #000; padding: 0 30px; background: #fff; }
#notifications.open { opacity: 1; visibility: visible; }
#notifications h3 { font-weight: 700; }
#notifications ul,
#notifications li { padding: 0; margin: 0; list-style: none; }
#notifications li { border-bottom: 1px solid #D4D4D4; line-height: 1em; padding-left: 4px; }
#notifications li a { display: block; padding: 8px 0; }
#notifications .fa { font-size: 1.5em; margin-right: 20px; width: 26px; }
#notifications time { margin-left: 20px; font-size: 0.8em; text-align: right; }
#notifications span { font-size: 0.9em; line-height: 1.2em; }
#notifications span i { font-style: normal; font-size: 0.9em; display: block;}
#notifications .active .fa { color: #4FE782; }
#notifications .disable .fa { color: #FF4646; }
#notifications .expired { color: #C4C4C4; }
#notifications .expired .fa { color: #C4C4C4; }

#home { width: 100%; }
#home header { height: 300px; position: relative; background-size: 100% auto; padding-top: 15px; }
#home header:before { position: absolute; top: 0; left: 0; width: 100%; height: 50%; content: " "; background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); }
#home main h3 { text-transform: uppercase; text-align: center; font-size: 1em; line-height: 1.3em; font-weight: 600; margin: 30px 0; }
#home main h3 span { font-size: 0.8em; line-height: 1em; font-weight: normal; display: block; }
#home nav .option { text-align: center; font-size: 0.8em; margin-bottom: 42px; }
#home nav .bubble { position: relative; width: 50px; height: 50px; display: block; margin: 0 auto; color: #fff; padding: 0; border-radius: 100%; margin-bottom: 4px; }
#home nav .bubble .fa { font-size: 1.9em; margin-top: 13px; line-height: 1em; }
#home nav .bubble .badge { position: absolute; bottom: -3px; right: -6px; z-index: 2; border: 1px solid #000; background: #fff; font-style: normal; padding: 3px 6px; }
#home nav .bubble.orders { background: #4FE782; }
#home nav .bubble.orders .badge { border-color: #4FE782; color: #4FE782; }
#home nav .bubble.budgeting { background: #002078; }
#home nav .bubble.budgeting .badge { border-color: #002078; color: #002078; }
#home nav .bubble.in-progress { background: #FF4646; }
#home nav .bubble.in-progress .badge { border-color: #FF4646; color: #FF4646; }
#home nav .bubble.finished { background: #8143FF; }
#home nav .bubble.finished .badge { border-color: #8143FF; color: #8143FF; }
#home nav .bubble.configuration { background: #50D6F1; }
#home nav .bubble.configuration .badge { border-color: #50D6F1; color: #50D6F1; }
#home nav .bubble.new-order { color: #95989A; }
#home nav .bubble.new-order .fa { border: 2px solid #95989A; border-radius: 100%; padding: 5px 7px 3px 7px; margin-top: 10px; }

#timeline,
#confirmation,
#flip,
#checkout,
#cards-swipe,
#cards-wide,
#page { width: 100%; padding-top: 54px; min-height: 100%; }

#order { width: 100%; height: 100%; color: #fff; }
#order.product,
#order .product { background: rgb(80,214,241); background: -moz-linear-gradient(-45deg, rgba(80,214,241,1) 0%, rgba(129,67,255,1) 100%); background: -webkit-linear-gradient(-45deg, rgba(80,214,241,1) 0%,rgba(129,67,255,1) 100%); background: linear-gradient(135deg, rgba(80,214,241,1) 0%,rgba(129,67,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50d6f1', endColorstr='#8143ff',GradientType=1 ); }
#order.service,
#order .service { background: rgb(191,156,245); background: -moz-linear-gradient(-45deg, rgba(191,156,245,1) 0%, rgba(255,70,70,1) 100%); background: -webkit-linear-gradient(-45deg, rgba(191,156,245,1) 0%,rgba(255,70,70,1) 100%); background: linear-gradient(135deg, rgba(191,156,245,1) 0%,rgba(255,70,70,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf9cf5', endColorstr='#ff4646',GradientType=1 ); }
#order nav { text-align: center; height: auto; display: flex; flex-direction: column; min-height: 100%; }
#order nav .box { flex: 1; display: flex; justify-content: center; flex-direction: column; padding-left: 40px; padding-right: 40px; }
#order nav .fa { font-size: 3em; }
#order nav h2 { font-weight: bold; font-size: 1.3em; line-height: 1em; }
#order main { padding-top: 54px; height: 100%; margin-bottom: 90px; }
#order main h4,
#order main label { font-weight: bold; line-height: 1em; font-size: 1em; }
#order main h2 { font-weight: bold; font-size: 1.8em; line-height: 1em; }
#order main .form-control { border: 0; border-bottom: 1px solid #FFF; background: none; border-radius: 0; color: #fff; padding-left: 0; padding-right: 0; }
#order main .form-control::placeholder { color: #fff; font-style: italic; }
#order main .fileupload h4 { margin-bottom: 0; margin-top: 2px;; display: block; }
#order main .fileupload .btn-attachment,
#order main .fileupload .btn-camera { background: #FFF; height: 60px; width: 60px; border-radius: 100%; color: #50D2F1; font-size: 1.5em; }
#order main .fileupload .btn-attachment i,
#order main .fileupload .btn-camera i { margin-top: 10px; }
#order main .fileinput-button { margin-top: 6px; }
#order main .progress { webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1); }
#order main .step3 p { text-align: center; padding: 0; margin: 0; }
#order main .step3 span { display: inline-block; font-size: 3em; line-height: 1em;  }
#order main .step3 .form-control { font-size: 4em; line-height: 1em; display: inline-block; width: 170px !important; border: 0; font-weight: bold; margin: 0; text-align: right; height: 60px; }
#order main .step3 .form-control::placeholder { color: #672FD9; font-style: normal; }
#order main .step1 .type { background: #fff; color: #FF4646; margin-left: -2rem!important; margin-right: -2rem!important; padding-left: 2rem!important; padding-right: 2rem!important }
#order main .step1 .type .form-control { border-color: #000; }
#order main .step1 .type .form-control::placeholder { color: #000; }

#order footer { position: fixed; bottom: 0; left: 0; width: 100%; z-index: 7000; }
#order footer .container { position: fixed; bottom: 0; left: 0; width: 100%; padding-bottom: 15px; }
#order footer .btn { flex: 1 0 auto; margin-top: 10px; }
 
#cards-swipe nav { font-size: 1.2em; line-height: 1em; padding: 12px 0 22px 0; }
#cards-swipe nav a { margin: 0 12px; display: inline-block; border-bottom: 4px solid #fff; position: relative; padding: 12px 0; }
#cards-swipe nav a .badge { position: absolute; top: -3px; right: -12px; z-index: 2; border: 1px solid #4FE782; color: #4FE782; font-size: 0.7em; background: #fff; font-style: normal; padding: 3px 6px; }
#cards-swipe nav a.select { border-color: #4FE782; font-weight: 700; }
#cards-swipe main .box { width: 90%; height: 400px; background-size: 100% auto; border-radius: 30px; overflow: hidden; color: #fff; }
#cards-swipe main .box:before { position: absolute; bottom: 0; left: 0; width: 100%; height: 80%; content: " "; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); }
#cards-swipe main .info { position: absolute; bottom: 0px; left: 0px; padding: 20px; width: 100%; }
#cards-swipe main h4 { font-size: 1.8em; line-height: 1em; font-weight: 600; }
#cards-swipe main h4 span { font-size: 0.6em; display: block; font-weight: normal; }
#cards-swipe main .order-reference { display: block; line-height: 1em; font-size: 0.9em; margin: 16px 0 20px 0; }
#cards-swipe main .order-reference .fa { font-size: 1.3em; line-height: 1em; padding-right: 4px; }
#cards-swipe main .info a { border: 1px solid #fff; border-radius: 40px; display: block; width: 95%; position: relative; color: #fff; margin: 10px 0; padding: 18px 0 18px 24px; }
#cards-swipe main .info #timer { right: -20px; bottom: -10px; }

#cards-wide header h3 { font-size: 0.9em; }
#cards-wide header .calendar { text-align: right; }
#cards-wide header .calendar select { width: auto !important; }
#cards-wide main .box { width: 100%; height: 155px; background-size: 100% auto; border-radius: 20px; overflow: hidden; position: relative; }
#cards-wide main .box:before { position: absolute; bottom: 0; left: 0; width: 100%; height: 80%; content: " "; background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); }
#cards-wide main .box a { width: 100%; height: 100%; display: block; color: #fff; }
#cards-wide main .info { position: absolute; bottom: 26px; left: 16px; line-height: 1.2em; }
#cards-wide main .title { font-weight: bold; display: block; }
#cards-wide main .star span { color: #286B79; }
#cards-wide main .star span.checked { color: #4FE782; }

#flip main .excerpt { font-size: 0.8em; }
#flip main .box { width: 95%; border-radius: 30px; overflow: hidden; background: #D5D5D5; border: 2px solid #D5D5D5; }
#flip main .selected { background: #4FE782; border-color: #4FE782; border-width: 6px; }
#flip main .info { padding: 26px 26px 1px 26px; width: 100%; background: #fff; border-radius: 30px; }
#flip main h3 { font-size: 1.4em; line-height: 1em; margin-bottom: 22px; }
#flip main h4 { text-transform: uppercase; font-size: 0.7em; line-height: 1em; letter-spacing: 0.1em; margin-bottom: 4px; }
#flip main ul,
#flip main li { padding: 0; margin: 0; list-style: none; }
#flip main ul { margin-bottom: 22px; }
#flip main ul li { margin-bottom: 8px; line-height: 1em; }
#flip main ul li a { color: #50D6F1; }
#flip main ul li i { font-size: 1.3em; line-height: 1em; width: 24px; text-align: center; vertical-align: middle; margin-right: 6px; }
#flip main .selected .btn { background: #fff; border-color: #fff; color: #4FE782; }

#order-top { position: relative; background-size: 100% auto; color: #fff; }
#order-top:before { position: absolute; top: 0; left: 0; width: 80%; height: 100%; content: " "; background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%); background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(255,255,255,0) 100%); background: linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(255,255,255,0) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); }
#order-top h4 { font-size: 1.8em; line-height: 1em; font-weight: 600; margin: 0; }
#order-top h4 span { font-size: 0.6em; display: block; font-weight: normal; }
#order-top .order-reference { display: block; line-height: 1em; font-size: 0.9em; margin: 6px 0 0 0; }
#order-top .order-reference .fa { font-size: 1.3em; line-height: 1em; padding-right: 4px; }
#order-top .gallery { color: #fff;  position: absolute; bottom: 0; right: 0; background: rgba(0,0,0,0.5); padding: 10px 10px; font-size: 0.8em; line-height: 1em; font-weight: 700; }
#order-top .gallery i { margin-right: 8px; }
#order-top .info { z-index: 2; position: relative; padding: 20px 0 20px 20px; }

#checkout main { padding-top: 15px; margin-bottom: 90px; }
#checkout main h3 { font-size: 1.5em; line-height: 1em; }
#checkout main h4 { text-transform: uppercase; font-size: 0.7em; line-height: 1em; letter-spacing: 0.1em; margin-bottom: 4px; }
#checkout main blockquote { display: block; margin-bottom: 1rem; }
#checkout main blockquote p { position: relative; width: 100%; padding: 12px; background: #ffffff; border-radius: 5%; -webkit-filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2)); filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2)); font-style: italic; font-size: 0.9em; line-height: 1.3em; }
#checkout main blockquote p:after { content: ''; position: absolute; border-style: solid; border-width: 10px 10px 0; border-color: #ffffff transparent; display: block;
width: 0; z-index: 1; bottom: -10px; right: 20px; }
#checkout main blockquote cite { text-align: right; display: block; font-size: 0.8em; font-style: normal; }
#checkout main ul,
#checkout main li { padding: 0; margin: 0; list-style: none; }
#checkout main ul { margin-bottom: 22px; }
#checkout main ul li { margin-bottom: 8px; }
#checkout main ul li a { color: #50D6F1; }
#checkout main ul li i { font-size: 1.5em; line-height: 1em; width: 24px; text-align: center; vertical-align: middle; }
#checkout .fileupload h4 { margin-bottom: 0; margin-top: 2px; font-size: 0.8em; display: block; }
#checkout .fileupload .btn-attachment,
#checkout .fileupload .btn-camera { background: #4FE782; height: 60px; width: 60px; border-radius: 100%; color: #fff; font-size: 1.5em; }
#checkout .fileupload .btn-attachment i,
#checkout .fileupload .btn-camera i { margin-top: 10px; }
#checkout .fileinput-button { margin-top: 6px; }
#checkout .progress { webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1); box-shadow: inset 0 1px 2px rgba(0,0,0,.1); }
#checkout footer { position: fixed; bottom: 0; left: 0; width: 100%; z-index: 7000; }
#checkout footer.mask { height: 100%; background: rgba(255,255,255,0.95); }
#checkout footer .container { position: fixed; bottom: 0; left: 0; width: 100%; padding-bottom: 15px; }
#checkout footer .btn { flex: 1 0 auto; margin-top: 10px; }
#checkout footer h2 { font-weight: 700; font-size: 1.8em; }
#checkout footer textarea { width: 100%; border: 0; border-bottom: 2px solid #000; height: 110px; background: transparent; font-size: 1.2em; }
#checkout footer #timer { right: 14px; }

#timeline main h4 { text-transform: uppercase; font-size: 0.7em; line-height: 1em; letter-spacing: 0.1em; margin-bottom: 4px; }
#timeline main .status .box { width: 80px; }
#timeline main .status .box .icon { width: 60px; height: 60px; background: #F2F2F2; border-radius: 100%; position: relative; font-size: 1.8em; line-height: 1em; color: #B8B8B8; line-height: 1em; display: inline-block; }
#timeline main .status .box .badge { position: absolute; bottom: 0; right: 0; font-size: 0.4em; line-height: 1em; padding: 4px !important; }
#timeline main .status .box p { line-height: 1.2em; font-size: 0.9em; }
#timeline main ul,
#timeline main li { padding: 0; margin: 0; list-style: none; position: relative; }
#timeline main ul { overflow: hidden; }
#timeline main ul .icon { width: 60px; height: 60px; background: #FFF; border: 1px solid #B8B8B8; border-radius: 100%; position: relative; font-size: 1.8em; line-height: 1em; color: #B8B8B8; line-height: 1em; display: inline-block; }
#timeline main ul .badge { position: absolute; bottom: 0; right: 0; font-size: 0.4em; line-height: 1em; padding: 4px !important; }
#timeline main ul:before { position: absolute; top: 0; height: 100%; left: 33.5%; width: 1px; background: #B8B8B8; content: " "; }
#timeline main ul time { font-size: 0.95em; }
#timeline main ul h2 { font-size: 1em; font-weight: bold; }
#timeline main ul h3 { font-size: 1em; color: #50D6F1; }
#timeline main ul h3 .fa { color: #000; }
#timeline main ul li:last-child { padding-bottom: 0 !important; }

#confirmation header h2 { font-size: 2.2em; font-weight: bold; }
#confirmation main { padding-top: 15px; margin-bottom: 90px; }
#confirmation main h4 { text-transform: uppercase; font-size: 0.7em; line-height: 1em; letter-spacing: 0.1em; margin-bottom: 4px; }
#confirmation main .swiper-slide { width: auto !important; overflow: hidden; border-radius: 8px; }
#confirmation main .attachment p { margin-bottom: 0; }
#confirmation main .attachment i { width: 20px; text-align: center; }
#confirmation footer { position: fixed; bottom: 0; left: 0; width: 100%; z-index: 7000; }
#confirmation footer.mask { height: 100%; background: rgba(255,255,255,0.95); }
#confirmation footer .container { position: fixed; bottom: 0; left: 0; width: 100%; padding-bottom: 15px; }
#confirmation footer .btn { flex: 1 0 auto; margin-top: 10px; }
#confirmation footer h2 { font-weight: 700; font-size: 1.8em; }
#confirmation footer textarea { width: 100%; border: 0; border-bottom: 2px solid #000; height: 110px; background: transparent; font-size: 1.2em; }
#confirmation footer #timer { right: 14px; }

#gallery { z-index: 9300; position: fixed; top: 0; left: 0; width: 100%; height: 100%; text-align: center; background: #000; }
#gallery header { color: #fff; padding: 15px 0; background: #000; z-index: 3; position: absolute; left: 0; top: 0; width: 100%; }
#gallery header h3 { font-weight: 600; font-size: 1.2em; line-height: 1em; position: relative; margin: 0; padding: 0 22px 0 0; }
#gallery header i { font-size: 1.5em; line-height: 1em; z-index: 1001; position: relative; }
#gallery main .swiper-wrapper { min-height: 100%; }
#gallery main .swiper-container { min-height: 100%; }
#gallery main .swiper-slide { justify-content: center; align-items: center; display: flex; }
#gallery main .swiper-slide img { width: auto; height: auto; min-width: 100%; max-width: 100%; max-height: 100%; }
#gallery main .swiper-lazy-preloader { top: 50%; }
#gallery main .swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background: #4FE782; }
#gallery main .swiper-button-prev,
#gallery main .swiper-container-rtl .swiper-button-next { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234FE782'%2F%3E%3C%2Fsvg%3E");}
#gallery main .swiper-button-next,
#gallery main .swiper-container-rtl .swiper-button-prev { background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234FE782'%2F%3E%3C%2Fsvg%3E"); }
#gallery main .swiper-pagination { top: 54px; }

#loading { z-index: 9500; position: fixed; top: 0; left: 0; width: 100%; height: 100%; text-align: center; }
#loading h5 { font-size: 1em; font-weight: 700; margin-top: 15px; }
#loading .box { top: 50%; left: 0; width: 100%; position: absolute; margin-top: -50px; }
#loading .sending { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; z-index: 1; }
#loading .spinner { margin: 0 auto; width: 70px; text-align: center; }
#loading .sended { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #4FE782; color: #fff; z-index: 2; }
#loading .sended i { font-size: 2em; }
#loading .spinner > div { width: 18px;  height: 18px; background-color: #0bb879; border-radius: 100%; display: inline-block; -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
#loading .spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; opacity: 1; }
#loading .spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; opacity: 0.8; }
#loading .spinner .bounce3 { opacity: 0.4; }
@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

#timer { display: block; position: absolute; color: #000; text-align: center; font-size: 80px; width: 1em; height: 1em; border-radius: 50%; background-color: #FFF; -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3); -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3); box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3); }
#timer small { font-size: 0.6em; line-height: 1em; text-transform: uppercase; }
#timer time { color: #4FE782; font-weight: bold; display: block; font-size: 1em; line-height: 1em; margin-top: -4px; }
#timer *,
#timer *:before,
#timer *:after { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
#timer .bar { left: 0; }
#timer.p51 .slice,
#timer.p52 .slice,
#timer.p53 .slice,
#timer.p54 .slice,
#timer.p55 .slice,
#timer.p56 .slice,
#timer.p57 .slice,
#timer.p58 .slice,
#timer.p59 .slice,
#timer.p60 .slice,
#timer.p61 .slice,
#timer.p62 .slice,
#timer.p63 .slice,
#timer.p64 .slice,
#timer.p65 .slice,
#timer.p66 .slice,
#timer.p67 .slice,
#timer.p68 .slice,
#timer.p69 .slice,
#timer.p70 .slice,
#timer.p71 .slice,
#timer.p72 .slice,
#timer.p73 .slice,
#timer.p74 .slice,
#timer.p75 .slice,
#timer.p76 .slice,
#timer.p77 .slice,
#timer.p78 .slice,
#timer.p79 .slice,
#timer.p80 .slice,
#timer.p81 .slice,
#timer.p82 .slice,
#timer.p83 .slice,
#timer.p84 .slice,
#timer.p85 .slice,
#timer.p86 .slice,
#timer.p87 .slice,
#timer.p88 .slice,
#timer.p89 .slice,
#timer.p90 .slice,
#timer.p91 .slice,
#timer.p92 .slice,
#timer.p93 .slice,
#timer.p94 .slice,
#timer.p95 .slice,
#timer.p96 .slice,
#timer.p97 .slice,
#timer.p98 .slice,
#timer.p99 .slice,
#timer.p100 .slice { clip: rect(auto, auto, auto, auto); }
#timer .pie,
#timer .bar,
#timer.p51 .fill,
#timer.p52 .fill,
#timer.p53 .fill,
#timer.p54 .fill,
#timer.p55 .fill,
#timer.p56 .fill,
#timer.p57 .fill,
#timer.p58 .fill,
#timer.p59 .fill,
#timer.p60 .fill,
#timer.p61 .fill,
#timer.p62 .fill,
#timer.p63 .fill,
#timer.p64 .fill,
#timer.p65 .fill,
#timer.p66 .fill,
#timer.p67 .fill,
#timer.p68 .fill,
#timer.p69 .fill,
#timer.p70 .fill,
#timer.p71 .fill,
#timer.p72 .fill,
#timer.p73 .fill,
#timer.p74 .fill,
#timer.p75 .fill,
#timer.p76 .fill,
#timer.p77 .fill,
#timer.p78 .fill,
#timer.p79 .fill,
#timer.p80 .fill,
#timer.p81 .fill,
#timer.p82 .fill,
#timer.p83 .fill,
#timer.p84 .fill,
#timer.p85 .fill,
#timer.p86 .fill,
#timer.p87 .fill,
#timer.p88 .fill,
#timer.p89 .fill,
#timer.p90 .fill,
#timer.p91 .fill,
#timer.p92 .fill,
#timer.p93 .fill,
#timer.p94 .fill,
#timer.p95 .fill,
#timer.p96 .fill,
#timer.p97 .fill,
#timer.p98 .fill,
#timer.p99 .fill,
#timer.p100 .fill { position: absolute; border: 0.08em solid #4FE782; width: 0.84em; height: 0.84em; clip: rect(0em, 0.5em, 1em, 0em); border-radius: 50%; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); left: 0; }
#timer .pie-fill,
#timer.p51 .bar:after,
#timer.p51 .fill,
#timer.p52 .bar:after,
#timer.p52 .fill,
#timer.p53 .bar:after,
#timer.p53 .fill,
#timer.p54 .bar:after,
#timer.p54 .fill,
#timer.p55 .bar:after,
#timer.p55 .fill,
#timer.p56 .bar:after,
#timer.p56 .fill,
#timer.p57 .bar:after,
#timer.p57 .fill,
#timer.p58 .bar:after,
#timer.p58 .fill,
#timer.p59 .bar:after,
#timer.p59 .fill,
#timer.p60 .bar:after,
#timer.p60 .fill,
#timer.p61 .bar:after,
#timer.p61 .fill,
#timer.p62 .bar:after,
#timer.p62 .fill,
#timer.p63 .bar:after,
#timer.p63 .fill,
#timer.p64 .bar:after,
#timer.p64 .fill,
#timer.p65 .bar:after,
#timer.p65 .fill,
#timer.p66 .bar:after,
#timer.p66 .fill,
#timer.p67 .bar:after,
#timer.p67 .fill,
#timer.p68 .bar:after,
#timer.p68 .fill,
#timer.p69 .bar:after,
#timer.p69 .fill,
#timer.p70 .bar:after,
#timer.p70 .fill,
#timer.p71 .bar:after,
#timer.p71 .fill,
#timer.p72 .bar:after,
#timer.p72 .fill,
#timer.p73 .bar:after,
#timer.p73 .fill,
#timer.p74 .bar:after,
#timer.p74 .fill,
#timer.p75 .bar:after,
#timer.p75 .fill,
#timer.p76 .bar:after,
#timer.p76 .fill,
#timer.p77 .bar:after,
#timer.p77 .fill,
#timer.p78 .bar:after,
#timer.p78 .fill,
#timer.p79 .bar:after,
#timer.p79 .fill,
#timer.p80 .bar:after,
#timer.p80 .fill,
#timer.p81 .bar:after,
#timer.p81 .fill,
#timer.p82 .bar:after,
#timer.p82 .fill,
#timer.p83 .bar:after,
#timer.p83 .fill,
#timer.p84 .bar:after,
#timer.p84 .fill,
#timer.p85 .bar:after,
#timer.p85 .fill,
#timer.p86 .bar:after,
#timer.p86 .fill,
#timer.p87 .bar:after,
#timer.p87 .fill,
#timer.p88 .bar:after,
#timer.p88 .fill,
#timer.p89 .bar:after,
#timer.p89 .fill,
#timer.p90 .bar:after,
#timer.p90 .fill,
#timer.p91 .bar:after,
#timer.p91 .fill,
#timer.p92 .bar:after,
#timer.p92 .fill,
#timer.p93 .bar:after,
#timer.p93 .fill,
#timer.p94 .bar:after,
#timer.p94 .fill,
#timer.p95 .bar:after,
#timer.p95 .fill,
#timer.p96 .bar:after,
#timer.p96 .fill,
#timer.p97 .bar:after,
#timer.p97 .fill,
#timer.p98 .bar:after,
#timer.p98 .fill,
#timer.p99 .bar:after,
#timer.p99 .fill,
#timer.p100 .bar:after,
#timer.p100 .fill { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
#timer .bird { position: absolute; width: 100%; z-index: 1; left: 0; top: 0; padding-top: 20px; width: 5em; font-size: 0.2em; display: block; }
#timer:after { position: absolute; top: 0.08em; left: 0.08em; display: block; content: " "; border-radius: 50%; background-color: #f5f5f5; width: 0.84em; height: 0.84em; }
#timer .slice { position: absolute; width: 1em; height: 1em; clip: rect(0em, 1em, 1em, 0.5em); left: 0; }
#timer.p1 .bar { -webkit-transform: rotate(3.6deg); -moz-transform: rotate(3.6deg); -ms-transform: rotate(3.6deg); -o-transform: rotate(3.6deg); transform: rotate(3.6deg); }
#timer.p2 .bar { -webkit-transform: rotate(7.2deg); -moz-transform: rotate(7.2deg); -ms-transform: rotate(7.2deg); -o-transform: rotate(7.2deg); transform: rotate(7.2deg); }
#timer.p3 .bar { -webkit-transform: rotate(10.8deg); -moz-transform: rotate(10.8deg); -ms-transform: rotate(10.8deg); -o-transform: rotate(10.8deg); transform: rotate(10.8deg); }
#timer.p4 .bar { -webkit-transform: rotate(14.4deg); -moz-transform: rotate(14.4deg); -ms-transform: rotate(14.4deg); -o-transform: rotate(14.4deg); transform: rotate(14.4deg); }
#timer.p5 .bar { -webkit-transform: rotate(18deg); -moz-transform: rotate(18deg); -ms-transform: rotate(18deg); -o-transform: rotate(18deg); transform: rotate(18deg); }
#timer.p6 .bar { -webkit-transform: rotate(21.6deg); -moz-transform: rotate(21.6deg); -ms-transform: rotate(21.6deg); -o-transform: rotate(21.6deg); transform: rotate(21.6deg); }
#timer.p7 .bar { -webkit-transform: rotate(25.2deg); -moz-transform: rotate(25.2deg); -ms-transform: rotate(25.2deg); -o-transform: rotate(25.2deg); transform: rotate(25.2deg); }
#timer.p8 .bar { -webkit-transform: rotate(28.8deg); -moz-transform: rotate(28.8deg); -ms-transform: rotate(28.8deg); -o-transform: rotate(28.8deg); transform: rotate(28.8deg); }
#timer.p9 .bar { -webkit-transform: rotate(32.4deg); -moz-transform: rotate(32.4deg); -ms-transform: rotate(32.4deg); -o-transform: rotate(32.4deg); transform: rotate(32.4deg); }
#timer.p10 .bar { -webkit-transform: rotate(36deg); -moz-transform: rotate(36deg); -ms-transform: rotate(36deg); -o-transform: rotate(36deg); transform: rotate(36deg); }
#timer.p11 .bar { -webkit-transform: rotate(39.6deg); -moz-transform: rotate(39.6deg); -ms-transform: rotate(39.6deg); -o-transform: rotate(39.6deg); transform: rotate(39.6deg); }
#timer.p12 .bar { -webkit-transform: rotate(43.2deg); -moz-transform: rotate(43.2deg); -ms-transform: rotate(43.2deg); -o-transform: rotate(43.2deg); transform: rotate(43.2deg); }
#timer.p13 .bar { -webkit-transform: rotate(46.800000000000004deg); -moz-transform: rotate(46.800000000000004deg); -ms-transform: rotate(46.800000000000004deg); -o-transform: rotate(46.800000000000004deg); transform: rotate(46.800000000000004deg); }
#timer.p14 .bar { -webkit-transform: rotate(50.4deg); -moz-transform: rotate(50.4deg); -ms-transform: rotate(50.4deg); -o-transform: rotate(50.4deg); transform: rotate(50.4deg); }
#timer.p15 .bar { -webkit-transform: rotate(54deg); -moz-transform: rotate(54deg); -ms-transform: rotate(54deg); -o-transform: rotate(54deg); transform: rotate(54deg); }
#timer.p16 .bar { -webkit-transform: rotate(57.6deg); -moz-transform: rotate(57.6deg); -ms-transform: rotate(57.6deg); -o-transform: rotate(57.6deg); transform: rotate(57.6deg); }
#timer.p17 .bar { -webkit-transform: rotate(61.2deg); -moz-transform: rotate(61.2deg); -ms-transform: rotate(61.2deg); -o-transform: rotate(61.2deg); transform: rotate(61.2deg); }
#timer.p18 .bar { -webkit-transform: rotate(64.8deg); -moz-transform: rotate(64.8deg); -ms-transform: rotate(64.8deg); -o-transform: rotate(64.8deg); transform: rotate(64.8deg); }
#timer.p19 .bar { -webkit-transform: rotate(68.4deg); -moz-transform: rotate(68.4deg); -ms-transform: rotate(68.4deg); -o-transform: rotate(68.4deg); transform: rotate(68.4deg); }
#timer.p20 .bar { -webkit-transform: rotate(72deg); -moz-transform: rotate(72deg); -ms-transform: rotate(72deg); -o-transform: rotate(72deg); transform: rotate(72deg); }
#timer.p21 .bar { -webkit-transform: rotate(75.60000000000001deg); -moz-transform: rotate(75.60000000000001deg); -ms-transform: rotate(75.60000000000001deg); -o-transform: rotate(75.60000000000001deg); transform: rotate(75.60000000000001deg); }
#timer.p22 .bar { -webkit-transform: rotate(79.2deg); -moz-transform: rotate(79.2deg); -ms-transform: rotate(79.2deg); -o-transform: rotate(79.2deg); transform: rotate(79.2deg); }
#timer.p23 .bar { -webkit-transform: rotate(82.8deg); -moz-transform: rotate(82.8deg); -ms-transform: rotate(82.8deg); -o-transform: rotate(82.8deg); transform: rotate(82.8deg); }
#timer.p24 .bar { -webkit-transform: rotate(86.4deg); -moz-transform: rotate(86.4deg); -ms-transform: rotate(86.4deg); -o-transform: rotate(86.4deg); transform: rotate(86.4deg); }
#timer.p25 .bar { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
#timer.p26 .bar { -webkit-transform: rotate(93.60000000000001deg); -moz-transform: rotate(93.60000000000001deg); -ms-transform: rotate(93.60000000000001deg); -o-transform: rotate(93.60000000000001deg); transform: rotate(93.60000000000001deg); }
#timer.p27 .bar { -webkit-transform: rotate(97.2deg); -moz-transform: rotate(97.2deg); -ms-transform: rotate(97.2deg); -o-transform: rotate(97.2deg); transform: rotate(97.2deg); }
#timer.p28 .bar { -webkit-transform: rotate(100.8deg); -moz-transform: rotate(100.8deg); -ms-transform: rotate(100.8deg); -o-transform: rotate(100.8deg); transform: rotate(100.8deg); }
#timer.p29 .bar { -webkit-transform: rotate(104.4deg); -moz-transform: rotate(104.4deg); -ms-transform: rotate(104.4deg); -o-transform: rotate(104.4deg); transform: rotate(104.4deg); }
#timer.p30 .bar { -webkit-transform: rotate(108deg); -moz-transform: rotate(108deg); -ms-transform: rotate(108deg); -o-transform: rotate(108deg); transform: rotate(108deg); }
#timer.p31 .bar { -webkit-transform: rotate(111.60000000000001deg); -moz-transform: rotate(111.60000000000001deg); -ms-transform: rotate(111.60000000000001deg); -o-transform: rotate(111.60000000000001deg); transform: rotate(111.60000000000001deg); }
#timer.p32 .bar { -webkit-transform: rotate(115.2deg); -moz-transform: rotate(115.2deg); -ms-transform: rotate(115.2deg); -o-transform: rotate(115.2deg); transform: rotate(115.2deg); }
#timer.p33 .bar { -webkit-transform: rotate(118.8deg); -moz-transform: rotate(118.8deg); -ms-transform: rotate(118.8deg); -o-transform: rotate(118.8deg); transform: rotate(118.8deg); }
#timer.p34 .bar { -webkit-transform: rotate(122.4deg); -moz-transform: rotate(122.4deg); -ms-transform: rotate(122.4deg); -o-transform: rotate(122.4deg); transform: rotate(122.4deg); }
#timer.p35 .bar { -webkit-transform: rotate(126deg); -moz-transform: rotate(126deg); -ms-transform: rotate(126deg); -o-transform: rotate(126deg); transform: rotate(126deg); }
#timer.p36 .bar { -webkit-transform: rotate(129.6deg); -moz-transform: rotate(129.6deg); -ms-transform: rotate(129.6deg); -o-transform: rotate(129.6deg); transform: rotate(129.6deg); }
#timer.p37 .bar { -webkit-transform: rotate(133.20000000000002deg); -moz-transform: rotate(133.20000000000002deg); -ms-transform: rotate(133.20000000000002deg); -o-transform: rotate(133.20000000000002deg); transform: rotate(133.20000000000002deg); }
#timer.p38 .bar { -webkit-transform: rotate(136.8deg); -moz-transform: rotate(136.8deg); -ms-transform: rotate(136.8deg); -o-transform: rotate(136.8deg); transform: rotate(136.8deg); }
#timer.p39 .bar { -webkit-transform: rotate(140.4deg); -moz-transform: rotate(140.4deg); -ms-transform: rotate(140.4deg); -o-transform: rotate(140.4deg); transform: rotate(140.4deg); }
#timer.p40 .bar { -webkit-transform: rotate(144deg); -moz-transform: rotate(144deg); -ms-transform: rotate(144deg); -o-transform: rotate(144deg); transform: rotate(144deg); }
#timer.p41 .bar { -webkit-transform: rotate(147.6deg); -moz-transform: rotate(147.6deg); -ms-transform: rotate(147.6deg); -o-transform: rotate(147.6deg); transform: rotate(147.6deg); }
#timer.p42 .bar { -webkit-transform: rotate(151.20000000000002deg); -moz-transform: rotate(151.20000000000002deg); -ms-transform: rotate(151.20000000000002deg); -o-transform: rotate(151.20000000000002deg); transform: rotate(151.20000000000002deg); }
#timer.p43 .bar { -webkit-transform: rotate(154.8deg); -moz-transform: rotate(154.8deg); -ms-transform: rotate(154.8deg); -o-transform: rotate(154.8deg); transform: rotate(154.8deg); }
#timer.p44 .bar { -webkit-transform: rotate(158.4deg); -moz-transform: rotate(158.4deg); -ms-transform: rotate(158.4deg); -o-transform: rotate(158.4deg); transform: rotate(158.4deg); }
#timer.p45 .bar { -webkit-transform: rotate(162deg); -moz-transform: rotate(162deg); -ms-transform: rotate(162deg); -o-transform: rotate(162deg); transform: rotate(162deg); }
#timer.p46 .bar { -webkit-transform: rotate(165.6deg); -moz-transform: rotate(165.6deg); -ms-transform: rotate(165.6deg); -o-transform: rotate(165.6deg); transform: rotate(165.6deg); }
#timer.p47 .bar { -webkit-transform: rotate(169.20000000000002deg); -moz-transform: rotate(169.20000000000002deg); -ms-transform: rotate(169.20000000000002deg); -o-transform: rotate(169.20000000000002deg); transform: rotate(169.20000000000002deg); }
#timer.p48 .bar { -webkit-transform: rotate(172.8deg); -moz-transform: rotate(172.8deg); -ms-transform: rotate(172.8deg); -o-transform: rotate(172.8deg); transform: rotate(172.8deg); }
#timer.p49 .bar { -webkit-transform: rotate(176.4deg); -moz-transform: rotate(176.4deg); -ms-transform: rotate(176.4deg); -o-transform: rotate(176.4deg); transform: rotate(176.4deg); }
#timer.p50 .bar { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
#timer.p51 .bar { -webkit-transform: rotate(183.6deg); -moz-transform: rotate(183.6deg); -ms-transform: rotate(183.6deg); -o-transform: rotate(183.6deg); transform: rotate(183.6deg); }
#timer.p52 .bar { -webkit-transform: rotate(187.20000000000002deg); -moz-transform: rotate(187.20000000000002deg); -ms-transform: rotate(187.20000000000002deg); -o-transform: rotate(187.20000000000002deg); transform: rotate(187.20000000000002deg); }
#timer.p53 .bar { -webkit-transform: rotate(190.8deg); -moz-transform: rotate(190.8deg); -ms-transform: rotate(190.8deg); -o-transform: rotate(190.8deg); transform: rotate(190.8deg); }
#timer.p54 .bar { -webkit-transform: rotate(194.4deg); -moz-transform: rotate(194.4deg); -ms-transform: rotate(194.4deg); -o-transform: rotate(194.4deg); transform: rotate(194.4deg); }
#timer.p55 .bar { -webkit-transform: rotate(198deg); -moz-transform: rotate(198deg); -ms-transform: rotate(198deg); -o-transform: rotate(198deg); transform: rotate(198deg); }
#timer.p56 .bar { -webkit-transform: rotate(201.6deg); -moz-transform: rotate(201.6deg); -ms-transform: rotate(201.6deg); -o-transform: rotate(201.6deg); transform: rotate(201.6deg); }
#timer.p57 .bar { -webkit-transform: rotate(205.20000000000002deg); -moz-transform: rotate(205.20000000000002deg); -ms-transform: rotate(205.20000000000002deg); -o-transform: rotate(205.20000000000002deg); transform: rotate(205.20000000000002deg); }
#timer.p58 .bar { -webkit-transform: rotate(208.8deg); -moz-transform: rotate(208.8deg); -ms-transform: rotate(208.8deg); -o-transform: rotate(208.8deg); transform: rotate(208.8deg); }
#timer.p59 .bar { -webkit-transform: rotate(212.4deg); -moz-transform: rotate(212.4deg); -ms-transform: rotate(212.4deg); -o-transform: rotate(212.4deg); transform: rotate(212.4deg); }
#timer.p60 .bar { -webkit-transform: rotate(216deg); -moz-transform: rotate(216deg); -ms-transform: rotate(216deg); -o-transform: rotate(216deg); transform: rotate(216deg); }
#timer.p61 .bar { -webkit-transform: rotate(219.6deg); -moz-transform: rotate(219.6deg); -ms-transform: rotate(219.6deg); -o-transform: rotate(219.6deg); transform: rotate(219.6deg); }
#timer.p62 .bar { -webkit-transform: rotate(223.20000000000002deg); -moz-transform: rotate(223.20000000000002deg); -ms-transform: rotate(223.20000000000002deg); -o-transform: rotate(223.20000000000002deg); transform: rotate(223.20000000000002deg); }
#timer.p63 .bar { -webkit-transform: rotate(226.8deg); -moz-transform: rotate(226.8deg); -ms-transform: rotate(226.8deg); -o-transform: rotate(226.8deg); transform: rotate(226.8deg); }
#timer.p64 .bar { -webkit-transform: rotate(230.4deg); -moz-transform: rotate(230.4deg); -ms-transform: rotate(230.4deg); -o-transform: rotate(230.4deg); transform: rotate(230.4deg); }
#timer.p65 .bar { -webkit-transform: rotate(234deg); -moz-transform: rotate(234deg); -ms-transform: rotate(234deg); -o-transform: rotate(234deg); transform: rotate(234deg); }
#timer.p66 .bar { -webkit-transform: rotate(237.6deg); -moz-transform: rotate(237.6deg); -ms-transform: rotate(237.6deg); -o-transform: rotate(237.6deg); transform: rotate(237.6deg); }
#timer.p67 .bar { -webkit-transform: rotate(241.20000000000002deg); -moz-transform: rotate(241.20000000000002deg); -ms-transform: rotate(241.20000000000002deg); -o-transform: rotate(241.20000000000002deg); transform: rotate(241.20000000000002deg); }
#timer.p68 .bar { -webkit-transform: rotate(244.8deg); -moz-transform: rotate(244.8deg); -ms-transform: rotate(244.8deg); -o-transform: rotate(244.8deg); transform: rotate(244.8deg); }
#timer.p69 .bar { -webkit-transform: rotate(248.4deg); -moz-transform: rotate(248.4deg); -ms-transform: rotate(248.4deg); -o-transform: rotate(248.4deg); transform: rotate(248.4deg); }
#timer.p70 .bar { -webkit-transform: rotate(252deg); -moz-transform: rotate(252deg); -ms-transform: rotate(252deg); -o-transform: rotate(252deg); transform: rotate(252deg); }
#timer.p71 .bar { -webkit-transform: rotate(255.6deg); -moz-transform: rotate(255.6deg); -ms-transform: rotate(255.6deg); -o-transform: rotate(255.6deg); transform: rotate(255.6deg); }
#timer.p72 .bar { -webkit-transform: rotate(259.2deg); -moz-transform: rotate(259.2deg); -ms-transform: rotate(259.2deg); -o-transform: rotate(259.2deg); transform: rotate(259.2deg); }
#timer.p73 .bar { -webkit-transform: rotate(262.8deg); -moz-transform: rotate(262.8deg); -ms-transform: rotate(262.8deg); -o-transform: rotate(262.8deg); transform: rotate(262.8deg); }
#timer.p74 .bar { -webkit-transform: rotate(266.40000000000003deg); -moz-transform: rotate(266.40000000000003deg); -ms-transform: rotate(266.40000000000003deg); -o-transform: rotate(266.40000000000003deg); transform: rotate(266.40000000000003deg); }
#timer.p75 .bar { -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); transform: rotate(270deg); }
#timer.p76 .bar { -webkit-transform: rotate(273.6deg); -moz-transform: rotate(273.6deg); -ms-transform: rotate(273.6deg); -o-transform: rotate(273.6deg); transform: rotate(273.6deg); }
#timer.p77 .bar { -webkit-transform: rotate(277.2deg); -moz-transform: rotate(277.2deg); -ms-transform: rotate(277.2deg); -o-transform: rotate(277.2deg); transform: rotate(277.2deg); }
#timer.p78 .bar { -webkit-transform: rotate(280.8deg); -moz-transform: rotate(280.8deg); -ms-transform: rotate(280.8deg); -o-transform: rotate(280.8deg); transform: rotate(280.8deg); }
#timer.p79 .bar { -webkit-transform: rotate(284.40000000000003deg); -moz-transform: rotate(284.40000000000003deg); -ms-transform: rotate(284.40000000000003deg); -o-transform: rotate(284.40000000000003deg); transform: rotate(284.40000000000003deg); }
#timer.p80 .bar { -webkit-transform: rotate(288deg); -moz-transform: rotate(288deg); -ms-transform: rotate(288deg); -o-transform: rotate(288deg); transform: rotate(288deg); }
#timer.p81 .bar { -webkit-transform: rotate(291.6deg); -moz-transform: rotate(291.6deg); -ms-transform: rotate(291.6deg); -o-transform: rotate(291.6deg); transform: rotate(291.6deg); }
#timer.p82 .bar { -webkit-transform: rotate(295.2deg); -moz-transform: rotate(295.2deg); -ms-transform: rotate(295.2deg); -o-transform: rotate(295.2deg); transform: rotate(295.2deg); }
#timer.p83 .bar { -webkit-transform: rotate(298.8deg); -moz-transform: rotate(298.8deg); -ms-transform: rotate(298.8deg); -o-transform: rotate(298.8deg); transform: rotate(298.8deg); }
#timer.p84 .bar { -webkit-transform: rotate(302.40000000000003deg); -moz-transform: rotate(302.40000000000003deg); -ms-transform: rotate(302.40000000000003deg); -o-transform: rotate(302.40000000000003deg); transform: rotate(302.40000000000003deg); }
#timer.p85 .bar { -webkit-transform: rotate(306deg); -moz-transform: rotate(306deg); -ms-transform: rotate(306deg); -o-transform: rotate(306deg); transform: rotate(306deg); }
#timer.p86 .bar { -webkit-transform: rotate(309.6deg); -moz-transform: rotate(309.6deg); -ms-transform: rotate(309.6deg); -o-transform: rotate(309.6deg); transform: rotate(309.6deg); }
#timer.p87 .bar { -webkit-transform: rotate(313.2deg); -moz-transform: rotate(313.2deg); -ms-transform: rotate(313.2deg); -o-transform: rotate(313.2deg); transform: rotate(313.2deg); }
#timer.p88 .bar { -webkit-transform: rotate(316.8deg); -moz-transform: rotate(316.8deg); -ms-transform: rotate(316.8deg); -o-transform: rotate(316.8deg); transform: rotate(316.8deg); }
#timer.p89 .bar { -webkit-transform: rotate(320.40000000000003deg); -moz-transform: rotate(320.40000000000003deg); -ms-transform: rotate(320.40000000000003deg); -o-transform: rotate(320.40000000000003deg); transform: rotate(320.40000000000003deg); }
#timer.p90 .bar { -webkit-transform: rotate(324deg); -moz-transform: rotate(324deg); -ms-transform: rotate(324deg); -o-transform: rotate(324deg); transform: rotate(324deg); }
#timer.p91 .bar { -webkit-transform: rotate(327.6deg); -moz-transform: rotate(327.6deg); -ms-transform: rotate(327.6deg); -o-transform: rotate(327.6deg); transform: rotate(327.6deg); }
#timer.p92 .bar { -webkit-transform: rotate(331.2deg); -moz-transform: rotate(331.2deg); -ms-transform: rotate(331.2deg); -o-transform: rotate(331.2deg); transform: rotate(331.2deg); }
#timer.p93 .bar { -webkit-transform: rotate(334.8deg); -moz-transform: rotate(334.8deg); -ms-transform: rotate(334.8deg); -o-transform: rotate(334.8deg); transform: rotate(334.8deg); }
#timer.p94 .bar { -webkit-transform: rotate(338.40000000000003deg); -moz-transform: rotate(338.40000000000003deg); -ms-transform: rotate(338.40000000000003deg); -o-transform: rotate(338.40000000000003deg); transform: rotate(338.40000000000003deg); }
#timer.p95 .bar { -webkit-transform: rotate(342deg); -moz-transform: rotate(342deg); -ms-transform: rotate(342deg); -o-transform: rotate(342deg); transform: rotate(342deg); }
#timer.p96 .bar { -webkit-transform: rotate(345.6deg); -moz-transform: rotate(345.6deg); -ms-transform: rotate(345.6deg); -o-transform: rotate(345.6deg); transform: rotate(345.6deg); }
#timer.p97 .bar { -webkit-transform: rotate(349.2deg); -moz-transform: rotate(349.2deg); -ms-transform: rotate(349.2deg); -o-transform: rotate(349.2deg); transform: rotate(349.2deg); }
#timer.p98 .bar { -webkit-transform: rotate(352.8deg); -moz-transform: rotate(352.8deg); -ms-transform: rotate(352.8deg); -o-transform: rotate(352.8deg); transform: rotate(352.8deg); }
#timer.p99 .bar { -webkit-transform: rotate(356.40000000000003deg); -moz-transform: rotate(356.40000000000003deg); -ms-transform: rotate(356.40000000000003deg); -o-transform: rotate(356.40000000000003deg); transform: rotate(356.40000000000003deg); }
#timer.p100 .bar { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); }

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}