.menu {
  width: 80%;
  max-width: 320px;
  transition: all .3s;
  height: auto;
  z-index: 3;
  position: relative;
  flex-shrink: 0;
  left: -80%;
  .open-menu & {
    left: 0%;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.75);
  }
  header {
    height: 172px;
    position: relative;
    background-size: 100% auto;
    padding-top: 40px;
  }
  .house-number {
    color: #fff;
    text-shadow: 2px 2px 5px rgba(150, 150, 150, 0.95);
  }
}