.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding-top: 15px;
  .color-layout & {
    color: #FFF;
    #menu-control {
      span, span:after, span:before {
        background-color: #FFF;
      }
    }
  }
  .page-title {
    margin-bottom: 0;
    margin: 0 auto;
    text-align: center;
    .hide-title & {
      display: none;
    }
  }
  .notification {
    position: relative;
    .hide-notification & {
      display: none;
    }
    .badge-top {top: -8px;}
    .badge-right {right: -10px;}
    i {
      font-size: 1.5em;
    }
    .notification-circle {
      background-color: transparent;
      width: 10px;
      height: 10px;
      position: absolute;
      border-radius: 50%;
      transform: scale(1);
      z-index: 20;
      transition: transform .3s ease-in-out;
      margin: -20px 0px 0px -8px;
    }
    .notification-close {
      width: 120px;
      height: 120px;
      position: absolute;
      top: -120px;
      right: -120px;
      border-radius: 100%;
      transform: scale(1);
      z-index: 20;
      transition: all 0.2s ease-in-out;
      background: rgb(255, 70, 70);
      background: -moz-linear-gradient(top, rgba(255, 70, 70, 1) 0%, rgba(191, 156, 245, 1) 100%);
      background: -webkit-linear-gradient(top, rgba(255, 70, 70, 1) 0%, rgba(191, 156, 245, 1) 100%);
      background: linear-gradient(to bottom, rgba(255, 70, 70, 1) 0%, rgba(191, 156, 245, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4646', endColorstr='#bf9cf5',GradientType=0 );
      color: #fff;
      .v-icon {
        position: absolute;
        bottom: 25px;
        left: 25px;
      }
    }
    &.open {
      .notification-close {
        top: -76px;
        right: -76px;
      }
      .notification-circle {
        transform: scale(120);
        background-color: #fff;
      }
    }
  }
  #menu-control {
    width: 24px;
    height: 16px;
    position: relative;
    .hide-menu & {
      display: none;
    }
    span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 0.2em;
      margin-top: -0.1em;
      background-color: #000;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
      &:after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
      }
      &:before {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: translateY(0.5em);
        transform: translateY(0.5em);
      }
      &:after {
        -webkit-transform: translateY(-0.5em);
        transform: translateY(-0.5em);
      }
    }
    &.open-menu-control span {
      &:before {
        -webkit-transform: translateY(-0.28em) translateX(-0.6em) rotate(-45deg) scaleX(0.6);
        transform: translateY(-0.28em) translateX(-0.5em) rotate(-45deg) scaleX(0.6);
      }
      &:after {
        -webkit-transform: translateY(0.28em) translateX(-0.6em) rotate(45deg) scaleX(0.6);
        transform: translateY(0.28em) translateX(-0.5em) rotate(45deg) scaleX(0.6);
      }
    }
  }
}