.notifications {
  visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 25;
  opacity: 0;
  color: #000;
  background: #fff;
  &.open {
    opacity: 1;
    visibility: visible;
  }
  .notification-list {
    padding: 0;
    margin: 0;
    list-style: none;
    .notification-item {
      padding: 0;
      margin: 0;
      list-style: none;
      line-height: 1em;
      padding: 8px 0;
      padding-left: 4px;
      &:not(:last-child) {
        border-bottom: 1px solid #D4D4D4;
      }
      .notification-item-icon {
        font-size: 1.5em;
        margin-right: 20px;
        width: 26px;
        &.active   {color: $activeColor;}
        &.danger   {color: $dangerColor;}
        &.expired  {color: $disabledColor;}
      }
      .notification-info {
        line-height: 1.3em;
        .notification-info-deadline {
          font-style: normal;
          font-size: 0.9em;
          display: block;
          color: $secondaryColor;
        }
      }
      .notification-time {
        margin-left: 20px;
        font-size: 0.8em;
        text-align: right;
      }
    }
  }
}