.timeline {
  .timeline-complete, .timeline-item {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
  }
  .timeline-complete {
    overflow: hidden;
    &:before {
      position: absolute;
      top: 0;
      height: 100%;
      left: 33.5%;
      width: 1px;
      background: #B8B8B8;
      content: " ";
    }
    time {
      font-size: 0.95em;
    }
    .timeline-item-info-title {
      font-weight: 600;
    }
    .timeline-item-info-link {
      margin-top: 10px;
      color: #50D6F1;
      i {
        color: #000;
      }
    }
    .timeline-item:last-child {
      padding-bottom: 0 !important;
    }
  }
}