.quote {
  .quote-item {
    .quote-item-info {
      position: absolute;
      bottom: 0px;
      left: 0px;
      padding: 20px;
      width: 100%;
      .quote-item-reference {
        display: block;
        line-height: 1em;
        font-size: 0.9em;
        i {
          font-size: 1.3em;
          line-height: 1em;
          padding-right: 4px;
        }
      }
    }
  }
}

.quote-review {
  .quote-review-list {
    .quote-review-list-item {
      line-height: 1em;
      a {
        color: $linkColor;
      }
    }
  }
}