.timeline {
  .timeline-progress {
    position: relative;
    .layout {
      z-index: 1;
      position: relative;
    }
    .list-line {
      position: absolute;
      top: 50%;
      left: 35.6%;
      transform: translate(-37.6%, -50%);
      height: 80%;
      width: 1px;
      background-color: #aaa;
      z-index: 0;
    }
  }
}