#app {
  max-width: 400px;
  margin: 0 auto;
}

html, body { 
	position: relative; 
	height: 100%; 
}

*:focus { 
  outline: none;
  box-shadow: none !important;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.content {
  position: relative;
  left: -80%;
  transition: left .3s;
  height: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  padding-top: $appTopPadding;
  .open-menu & {
    left: 0%;
  }
  .pull-up {
    margin-top: - $appTopPadding;
  }
}

.application--wrap {
  flex-direction: initial;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

#app-cards {
  padding: 0 15px;
}

img {
  &.thumb {
    border-radius: 20px;
    height: 70px;
    width: 70px;
    margin-right: 5px;
  }
}

.horizontal-scroll {
  overflow: auto;
  white-space: nowrap;
  a, .card {
    display: inline-block;
    margin: 0 5px;
  }
}

section {
  position: relative;
  .scrollable {
    height: stretch;
    width: 100%;
    overflow: auto;
    position: absolute;
    &.tab {
      top: 70px;
    padding-bottom: 70px;
    }
    &.gallery {
      top: 130px;
      padding-bottom: 130px !important;
    }
    &.icon {
      top: initial;
      padding-bottom: 200px;
    }
  }
}
