$mainFontFamily: 'Montserrat', sans-serif;

$primaryColor: #000;
$secondaryColor: #666;
$activeColor: #00e676;
$linkColor: #50D6F1;
$dangerColor: #FF4646;
$disabledColor: #C4C4C4;

$appTopPadding: 54px;