.btn-success {
  background-color: $activeColor;
  border-color: $activeColor;
  font-weight: 700;
  &:focus, &:hover, &:disabled {
    background-color: #44C770;
    border-color: #44C770;
  }
}

.btn-outline-success {
  border-color: $activeColor;
  &:focus, &:hover {
    border-color: $activeColor;
  }
}

.btn-danger {
  background-color: $dangerColor;
  border-color: $dangerColor;
  color: $dangerColor;
  &:focus, &:hover {
    background-color: $dangerColor;
    border-color: $dangerColor;
  }
}

.btn-outline-danger {
  border-color: $dangerColor;
  border-width: 2px;
  font-weight: 600;
  &:focus, &:hover {
    border-color: $dangerColor;
  }
}

.btn-outline-primary {
  border-color: #50D6F1;
  color: #50D6F1;
  &:focus, &:hover {
    border-color: #50D6F1;
  }
}

.btn-outline-simple {
  border: 1px solid #FFF;
  color: #FFF;
  background: none;
  &:focus, &:hover {
    border-color: #FFF;
  }
}

.btn-lg {
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.btn-md {
  padding: 0.8rem 1.1rem;
  font-size: 1rem;
  font-weight: 700;
  border-width: 2px;
}

.btn-rounded {
  border-radius: 2rem;
}

.btn {
  &:active, &:focus, &.active, &:checked+label {
    background-color: #FFF;
    color: #000;
    outline: none;
  }
}

.footer-button {
  position: relative;
  .control-gutter {
    padding-right: 5px;
    padding-left: 5px;
  }
  .btn {
    width: 100%;
    text-align: initial;
    &.center-text {
      text-align: center;
    }
    &.center-btn {
      margin: 0 auto;
      display: block;
    }
  }
  .v-progress-circular {
    position: absolute;
    right: 0;
    top: -20px;
  }
}