fieldset {
  border: 0px;
  input[type="radio"] {
    display: none;
    &:checked+label {
      background-color: #FFF;
      color: #000;
      outline: none;
    }
    +label {
      width: 80%;
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }
}

input, textarea, .form-control {
  &::placeholder {
    font-style: italic;
  }
}

.validate {
  &.invalid {
    [data-tooltip] {
      &:before {
        background-color: rgba(90%, 0%, 0%, 0.75);
      }
      &:after {
        border-top: 5px solid rgba(90%, 0%, 0%, 0.75);
      }
    }
  }
}