fieldset {
  input[type="radio"] {
    display: none;
    &:checked+label {
      background-color: #FFF;
      color: #000;
      outline: none;
    }
  }
}

input, textarea, .form-control {
  font-size: 14px;
  .color-layout & {
    color: #FFF;
    border: 0;
    &::placeholder {
      color: #fff;
    }
  }
  &::placeholder {
    font-style: italic;
  }
}

textarea {
  height: 100%;
}