fieldset {
  input[type="radio"] {
    display: none;
    &:checked+label {
      background-color: #FFF;
      color: #000;
      outline: none;
    }
  }
}

input, textarea, .form-control {
  font-size: 14px;
  border: 0;
  border-bottom: 1px solid #000;
  background: none;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  .color-layout & {
    color: #FFF;
    border-bottom: 1px solid #FFF;
    &::placeholder {
      color: #fff;
    }
  }
  &:focus {
    background-color: transparent;
  }
  &::placeholder {
    font-style: italic;
  }
}

textarea {
  height: 100%;
}